<section class="grid">
    {% for post in site.posts %}
        {% assign category = post.categories[0] | strip %}
        <article class="grid__item grid__item--{{ category }}">
            <div class="grid__image grid__image--{{ post.thumb_orientation }}">
                <a href="{{ post.url }}">
                    <img src="/assets/images/posts/{{ post.thumb }}" alt="{{ post.title }}">
                </a>
            </div>
            <div class="grid__text">
                <a href="{{ post.url }}">
                    {% if category == 'spaces' %}
                        Spaces for {{ post.client }} in {{ post.place }}, {{ post.year }}.
                    {% elsif category == 'collections' %}
                        In {{ post.collec }} collection, {{ post.title }}, {{ post.year }}.
                    {% else %}
                        From our Laboratory, watch {{ post.title }}, {{ post.year }}.
                    {% endif %}
                </a>
            </div>
        </article>
    {% endfor %}
</section>