<article class="grid__item grid__item--image {% if include.category %}grid__item--{{ category }}{% endif %}">
    <a href="{{ post.url }}">
        <div class="grid__image grid__image--{{ post.thumb_orientation }} {% if post.thumb.size > 1 %}js-thumb{% endif %}">
            {% if post.thumb.size > 1 %}
            {% for thumb in post.thumb %}
            <img class="thumb thumb--video {% if forloop.first == false %}thumb--hidden{% endif %}" src="/assets/images/posts/{{ thumb }}" alt="{{ post.title }}">
            {% endfor %}
            {% else %}
            <img class="thumb thumb--simple" src="/assets/images/posts/{{ post.thumb }}" alt="{{ post.title }}">
            {% endif %}
        </div>
        {% if post.thumb.size > 1 %}
            {% include video.liquid %}
        {% endif %}
    </a>
    {% if post.thumb.size > 1 %}
        {% include player.liquid %}
    {% endif %}
</article>

<article class="grid__item grid__item--text">
    <div class="grid__text">
        <a href="{{ post.url }}">
            {% if category == 'spaces' %}
            Spaces for {{ post.client }} in {{ post.place }}, {{ post.year }}.
            {% elsif category == 'collections' %}
            In {{ post.collec }} collection, {{ post.title }}, {{ post.year }}.
            {% else %}
            From our Laboratory, watch {{ post.title }}, {{ post.year }}.
            {% endif %}
        </a>
    </div>
</article>