<section class="grid grid--{{ include.type }}">

    {% if include.type == 'collections' %}
        {% assign columns = 3 %}
    {% elsif include.type == 'spaces' %}
        {% assign columns = 2 %}
    {% else %}
        {% assign columns = 1 %}
    {% endif %}

    {% if include.filter == nil %}
        {% assign posts = site.posts | where: "categories", include.type %}
    {% else %}
        {% assign posts = site.posts | where: "categories", include.type | where: "filter", include.filter %}
    {% endif %}

    {% for post in posts %}

        {% assign category = post.categories[0] | strip %}  

        {% assign counter = forloop.index | modulo: columns %}
        {% if counter == 1 or columns == 1 %}<div class="grid__row">{% endif %}
            
            <article class="grid__item grid__item--image">
                <a href="{{ post.url }}">
                    <div class="grid__image grid__image--{{ post.thumb_orientation }}">
                        {% if post.thumb.size > 1 %}
                            {% for thumb in post.thumb reversed %}
                                <img class="thumb thumb--video" src="/assets/images/posts/{{ thumb }}" alt="{{ post.title }}">
                            {% endfor %}
                        {% else %}
                            <img class="thumb thumb--simple" src="/assets/images/posts/{{ post.thumb }}" alt="{{ post.title }}">
                        {% endif %}
                    </div>
                </a>
            </article>

            <article class="grid__item grid__item--text">
                <div class="grid__text">
                    <a href="{{ post.url }}">
                        {% if category == 'spaces' %}
                            Spaces for {{ post.client }} in {{ post.place }}, {{ post.year }}.
                        {% elsif category == 'collections' %}
                            In {{ post.collec }} collection, {{ post.title }}, {{ post.year }}.
                        {% else %}
                            From our Laboratory, watch {{ post.title }}, {{ post.year }}.
                        {% endif %}
                    </a>
                </div>
            </article>

        {% if forloop.last or counter == 0 %}</div>{% endif %}
    {% endfor %}

</section>