<section class="subgrid subgrid--{{ include.type }}">

    {% if include.type == 'collections' %}
        {% assign columns = 3 %}
    {% elsif include.type == 'spaces' %}
        {% assign columns = 2 %}
    {% else %}
        {% assign columns = 1 %}
    {% endif %}

    {% assign posts = site.posts | where: "categories", include.type %}
    {% for post in posts %}

        {% assign category = post.categories[0] | strip %}    
        {% assign counter = forloop.index | modulo: columns %}
        {% if counter == 1 or columns == 1 %}<div class="subgrid__row">{% endif %}
            
            <article class="subgrid__item subgrid__item--image">
                <a href="{{ post.url }}">
                    <div class="subgrid__image">
                        <img src="/assets/images/posts/{{ post.thumb }}" alt="{{ post.title }}">
                    </div>
                </a>
            </article>

            <article class="subgrid__item subgrid__item--text">
                <div class="subgrid__text">
                    <a href="{{ post.url }}">
                        {% if category == 'spaces' %}
                            Space for {{ post.client }} in {{ post.place }}, {{ post.year }}.
                        {% elsif category == 'collections' %}
                            In {{ post.collec }} collection, {{ post.title }}, {{ post.year }}.
                        {% else %}
                            From our Laboratory, watch {{ post.title }}, {{ post.year }}.
                        {% endif %}
                    </a>
                </div>
            </article>

        {% if forloop.last or counter == 0 %}</div>{% endif %}
    {% endfor %}

</section>